h1, h2, ol{
    margin: 0;
}

/* unsure why buttons and input don't pick up the font from the root html */
button{
    font-family: 'Open Sans', sans-serif;
}

input{
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #eee;
    margin-bottom: 10px;
    
}

.todo-component {
    background-color: white;
    flex: 1;
    margin: 0px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 15px;
    Box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}


/* There must be a better way to left alight the numbers without using padding?  */
.list{
    padding-left: 15px;

}

.list-item{
    margin-bottom: 5px;
}

.done{
    text-decoration: line-through;
}

.complete{
    color:#ff69b4;
    border-style: solid;
    border-color: #ff69b4;
    border-width: 1px;
    background-color: white;
    border-radius: 5px;
}

.add{
    background-color: #ff1493;
    border: none;
    border-radius: 3px;
    color: white;
}

/* I know this is wrong, just didn't knoww a better way to do it at the time */
.fas{
    float: right;
}